/* You can add global styles to this file, and also import other style files */

body {
    min-width: 1080px;
    min-height: 600px;
}

.row {
    margin: 0;
}

/* note-content */

.note-content {
    width: 1000px;
    height: 600px;
    transform: translate(0%, 0%);
    left: 50%;
    transform: translateX(-50%);
}

.note-content .card-body {
    padding: 0;
    height: 90%;
    width: 100%;
    margin: 0;
}

/* content */

.content {
    height: 100%;
    width: 70%;
}

.form-group {
    height: 100%;
    width: 100%;
}

.content .form-group textarea {
    width: 100%;
    max-height: 100%;
    resize: vertical;
    border-radius: 0 0 0 0;
}

textarea {
    border: 0 !important;
}

select:hover,
select:active,
select:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
select:hover,
select:active,
select:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* card-header */

.note-content .card-header {
    height: 10%;
    padding: 0;
}

/* title-content */

.title-content {
    height: 100%;
    width: 70%;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.title-content .title {
    position: relative;
    width: 70%;
}

.title-content .title h4{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title-content .search {
    position: relative;
    width: 30%;
}

.title-content .search input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* title-notes */

.title-notes {
    height: 100%;
    width: 30%;
    margin: 0;
    border-right: 1px solid rgba(0,0,0,.125);
    padding-right: 30px;
    padding-left: 30px;
}

.title-notes .user-select {
    height: 100%;
}

.title-notes .user-select .title {
    position: relative;
    width: 40%;
}

.title-notes .user-select .content {
    position: relative;
    width: 60%;
}

.title-notes .user-select .title span {
    position: absolute;
    font-size: 14px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.title-notes .user-select .content select{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* === */

/* notes */

.notes {
    height: 100%;
    width: 30%;
    border-right: 1px solid rgba(0,0,0,.125);
    background-color: white;
}

select {
    height: 100%;
}

.notes .seclect {
    max-height: 100%;
    overflow: auto;
    padding: 5px;
    list-style:none;
    background-color: white;
}

.notes .seclect .option {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.notes .seclect .option:hover {
    background-color: #f8f9fa;
}

.notes .seclect .option-selected {
    background-color: rgb(254, 227, 144);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.notes .seclect .option-selected:hover {
    background-color: rgb(254, 227, 144) !important;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.text-date {
    font-style: italic;
    font-size: 10px;
}

.text-title {
    font-style: bold;
    font-size: 14px;
}

.text-author {
    font-style: initial;
    font-size: 12px;
}

.notes ul li .note-title .text-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* content */

.new {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 100;
}

.remove {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.wrapper .button {
    display: inline;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,.125);
    transition: all 0.3s ease-out;
    background-color: white;
}

.wrapper .button:hover {
    width: 120px;
    background-color: #ffbe76;
    color: white;
}

.wrapper .button .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 40px;
    box-sizing: border-box;
    line-height: 40px;
}

.wrapper .button .icon i {
    font-size: 16px;
    line-height: 10px;
}

.wrapper .button span {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    position: relative;
    top: -1px;
}